/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
	--white: hsl(0, 0%, 100%);
	--pink: #f9eeff;
	--g-purple: #ad28eb;
	--d-purple: #311535;
}

p {
	font-size: 16px;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-image: url("./assets/images/background-pattern-desktop.svg");
	background-repeat: repeat-x;
	background-color: var(--pink);
	min-height: 100vh;
	font-family: "Work Sans", sans-serif;
}

/* Allow scrolling while hiding the scrollbar */
body::-webkit-scrollbar {
	width: 0; /* Removes the scrollbar width */
	background: transparent; /* Makes the background of the scrollbar transparent */
}

.container {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: center;
}

.card {
	background-color: var(--white);
	width: 600px;
	position: relative;
	top: 155px;
	z-index: 99;
	border-radius: 15px;
	padding: 40px 40px 0px 40px;
	margin: 30px;
	color: var(--d-purple);
}

.card-title {
	margin: 10px 0px;
	display: flex;
	gap: 20px;
	font-size: 28px;
}

.accordion .accordion-item:nth-child(-n + 3)::after {
	content: "";
	width: 100%;
	height: 0.5px;
	background-color: rgba(58, 56, 56, 0.404);
	display: block;
}

.accordion-header {
	font-weight: 600;
	padding: 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.accordion-header:hover {
	color: var(--g-purple);
}

/* show or hide */
.accordion-content {
	text-align: justify;
	color: var(--d-purple);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.accordion-item.active .accordion-content {
	display: block;
	max-height: 200px;
	margin-bottom: 20px;
}

/* Media Query for screens 375px and below */
@media (max-width: 375px) {
	body {
		background-image: url(./assets/images/background-pattern-mobile.svg);
	}

	.card {
		position: relative;
		top: 80px;
        border-radius: 15px;
        padding: 20px;
	}
}
